
<div class="container">

    <h1>Add a new category to your cookbook</h1>

    <%= simple_form_for(@category), do |f| %>
      <%= f.input :name %>
      <%= f.submit "add category" , class = 'btn btn-primary'%>
    <% end %>

    <%= link_to 'back', categories_path %>

</div>
